#mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: #EFDECD;
    border-radius: 0 5px 5px 0;
    background-color: #EFDECD;
  }
  
  #mySidenav a:hover {
      left: 0;
      color: #3D2B1F;
    }
    
    #about {
      top: 20px;

    }
    
    #blog {
      top: 80px;
 
    }
    
    #projects {
      top: 140px;

    }
    
    #contact {
      top: 200px;
      
    }
    #profile {
      top: 260px;
    }

    .container{
      margin-left:180px;
    }


    .dropbtn {
      background-color: #EFDECD;
      color: #3D2B1F;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
    }

    .dropbtn:hover{
      background-color: #A67B5B;
    }
    
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      right: 0;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown-content a:hover {background-color: #f1f1f1;}
    .dropdown:hover .dropdown-content {display: block;}
    .dropdown:hover .dropbtn {background-color: #A67B5B;}





  /* same till here */

  .content{
    color: #3D2B1F;
  }


  label{
    display: inline-block;
    width: 300px;
    
  }

